In [1]:
import pandas as pd
import json

users = pd.read_csv('relax_challenge/takehome_users.csv',  encoding='cp1252', engine='python')
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 10 columns):
object_id                     12000 non-null int64
creation_time                 12000 non-null object
name                          12000 non-null object
email                         12000 non-null object
creation_source               12000 non-null object
last_session_creation_time    8823 non-null float64
opted_in_to_mailing_list      12000 non-null int64
enabled_for_marketing_drip    12000 non-null int64
org_id                        12000 non-null int64
invited_by_user_id            6417 non-null float64
dtypes: float64(2), int64(4), object(4)
memory usage: 937.6+ KB

In [2]:
users['invited_by_user_id'] = users['invited_by_user_id'].fillna(0).apply(int).apply(str).replace('0','')
users['object_id'] = users['object_id'].apply(str)
users['creation_time'] = pd.to_datetime(users['creation_time'])
users['creation_source'] = users['creation_source'].astype('category')
users['opted_in_to_mailing_list'] = users['opted_in_to_mailing_list'].astype('category')
users['enabled_for_marketing_drip'] = users['enabled_for_marketing_drip'].astype('category')
users['org_id'] = users['org_id'].astype('category')
users['last_session_creation_time'] = pd.to_datetime(users['last_session_creation_time'],unit='s') # unix timestamp
users.head()

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,2014-04-22 03:53:30,1,0,11,10803
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,2014-03-31 03:45:04,0,0,1,316
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,2013-03-19 23:14:52,0,0,94,1525
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,2013-05-22 08:09:28,0,0,1,5151
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,2013-01-22 10:14:20,0,0,193,5240

In [3]:
len(users)

12000

<B>Defining an "adopted user" as a user who has logged into the product on three separate days in at least one seven-day period, identify which factors predict future user adoption.

We suggest spending 1-2 hours on this, but you're welcome to spend more or less. Please send us a brief writeup of your findings (the more concise, the better -- no more than one page), along with any summary tables, graphs, code, or queries that can help us understand your approach. Please note any factors you considered or investigation you did, even if they did not pan out. Feel free to identify any further research or data you think would be valuable.</B>

In [4]:
engagement = pd.read_csv('relax_challenge/takehome_user_engagement.csv',  encoding='cp1252', engine='python')
engagement.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207917 entries, 0 to 207916
Data columns (total 3 columns):
time_stamp    207917 non-null object
user_id       207917 non-null int64
visited       207917 non-null int64
dtypes: int64(2), object(1)
memory usage: 4.8+ MB

In [5]:
engagement['time_stamp'] = pd.to_datetime(engagement['time_stamp'])
engagement['user_id'] = engagement['user_id'].apply(str)
engagement['visited'] = engagement['visited'].apply(str)
engagement.head()

           time_stamp user_id visited
0 2014-04-22 03:53:30       1       1
1 2013-11-15 03:45:04       2       1
2 2013-11-29 03:45:04       2       1
3 2013-12-09 03:45:04       2       1
4 2013-12-25 03:45:04       2       1

In [6]:
sorted =engagement.sort_values(by=['time_stamp','user_id'])
sorted.loc[(sorted.user_id == '20'),]

             time_stamp user_id visited
310 2014-03-11 11:46:38      20       1
311 2014-03-12 11:46:38      20       1
312 2014-03-13 11:46:38      20       1
313 2014-05-07 11:46:38      20       1
314 2014-05-11 11:46:38      20       1
315 2014-05-28 11:46:38      20       1
316 2014-05-29 11:46:38      20       1

In [7]:
user = sorted['user_id'].unique()
print(len(user), sorted['visited'].max(), sorted['visited'].min())

8823 1 1

In [8]:
%time

#counter = 0
adopted = set()
for i in user:
    if users.loc[(users.object_id == i),] is None:
        print( str(i) + ' not in user list')
        continue
    visited = sorted.loc[(sorted.user_id == i),]
    #print('user '+ i  + "; total visited " + str(len(visited)))
    for j in visited['time_stamp']:
        k = j + pd.DateOffset(days=7)
        period = visited.loc[(visited.time_stamp >= j) & (visited.time_stamp <= k),]
        #print('user ' + i + '; start '+str(j) + "  " + '; end ' + str(k) + "; visited " +str(len(period)))
        #if len(period) >= 3:
        #    print('   visited ' + str(len(period)))
        unique = len(period['time_stamp'].dt.date.unique())
        if unique != len(period):
            print('same day visit for user ' +i)
        if  unique >= 3:
            adopted.add(i)
            break
            #print('   adopted ' + str(unique))
        
    #counter +=1
    #if counter > 2000:
        #break

print(len(adopted))

CPU times: user 2 µs, sys: 1 µs, total: 3 µs
Wall time: 3.81 µs
1656

In [9]:
print(adopted)

{'5965', '509', '7431', '2681', '10958', '11642', '2199', '7882', '11924', '10860', '3757', '5160', '4467', '4248', '10937', '11195', '9434', '3025', '2481', '3194', '9623', '6609', '3824', '4181', '5479', '4580', '2672', '9948', '8048', '7386', '6050', '5101', '6266', '10750', '5528', '5156', '3240', '5297', '1464', '9768', '2739', '3239', '8673', '133', '2771', '7518', '5725', '11762', '1821', '1233', '5828', '6992', '11186', '3749', '7720', '5407', '4837', '10683', '506', '7172', '9985', '6427', '9722', '8442', '8837', '2615', '10753', '1999', '3378', '418', '3217', '10911', '529', '1770', '572', '4935', '5892', '347', '9727', '4844', '9691', '10580', '8466', '5415', '2011', '9303', '4093', '1156', '1681', '11913', '1506', '9593', '2587', '8806', '1709', '11412', '10222', '5432', '11964', '1783', '3577', '7896', '9079', '11176', '1825', '8408', '3525', '10159', '9222', '10746', '3804', '10412', '8955', '11965', '2073', '9754', '10520', '8111', '7153', '7004', '10363', '11388', '7951', '1480', '1238', '11738', '11857', '3517', '11004', '9390', '10234', '8957', '10582', '8394', '9786', '8383', '6044', '4217', '11487', '6938', '10626', '2618', '1035', '10757', '5301', '4954', '11975', '8769', '9013', '6654', '11056', '2887', '3370', '6504', '9145', '5225', '8046', '5552', '9889', '1026', '10858', '5977', '6170', '5350', '6419', '10355', '3560', '3567', '7555', '1163', '2590', '3915', '5806', '4835', '1993', '11841', '7678', '9060', '4921', '6742', '9597', '3071', '1361', '3026', '8319', '10388', '4206', '7362', '1106', '2111', '7544', '3059', '4582', '11909', '6627', '3493', '7971', '9359', '4472', '8760', '1094', '7792', '1617', '11465', '8063', '943', '4268', '1055', '8493', '8221', '8029', '10791', '10100', '4141', '8869', '7399', '197', '3269', '3598', '8010', '8460', '7827', '7926', '81', '8803', '9724', '7905', '1089', '5057', '11404', '786', '11024', '1822', '3077', '9383', '7848', '9559', '283', '9994', '6517', '1941', '7536', '2809', '6401', '3765', '7234', '10869', '172', '11300', '7242', '3859', '8725', '6312', '937', '2636', '10832', '11578', '605', '10023', '8809', '3866', '4589', '6204', '1481', '4446', '1730', '6981', '11969', '8169', '3812', '8280', '1150', '483', '8706', '2921', '4561', '10725', '9601', '1017', '2078', '2406', '1781', '3502', '1479', '8101', '4839', '7449', '5847', '8252', '2339', '4869', '669', '11939', '160', '4041', '8025', '10611', '9290', '479', '1039', '10020', '363', '10785', '3067', '6134', '8191', '6148', '9961', '11169', '9362', '11591', '10639', '4269', '4052', '3451', '4497', '11604', '8507', '2246', '4785', '11599', '7029', '9963', '5073', '6367', '8031', '6988', '9147', '9947', '4223', '4489', '3018', '10430', '4425', '6205', '10153', '6895', '4384', '6506', '1740', '5918', '2569', '4317', '11406', '7450', '1318', '1576', '4031', '8448', '10961', '11732', '11537', '8156', '5200', '3226', '5666', '6281', '9747', '6741', '11061', '275', '2571', '6064', '1666', '7839', '5645', '5743', '341', '1897', '209', '3063', '2787', '547', '478', '10320', '6236', '3673', '10177', '2290', '1694', '9580', '6617', '6135', '9344', '6759', '305', '9839', '10448', '11003', '10621', '10025', '8505', '3163', '5063', '5167', '7107', '4511', '3076', '8033', '3597', '4730', '8243', '1151', '5516', '2253', '11660', '11519', '2870', '11902', '10630', '3718', '4680', '6282', '510', '3574', '10708', '10011', '9479', '11428', '8255', '7989', '9652', '153', '1671', '10679', '351', '2361', '6305', '1485', '4485', '1411', '5970', '2843', '3317', '9635', '6851', '6886', '2610', '5586', '4992', '3652', '7114', '9470', '5915', '10574', '7939', '3046', '3125', '5571', '8381', '6893', '9076', '8790', '10599', '7655', '6532', '7654', '8401', '4349', '7378', '5832', '3960', '9031', '11294', '7859', '6922', '2080', '4715', '6322', '5721', '10311', '8712', '3852', '2895', '11873', '9660', '11959', '5853', '3087', '10233', '10634', '321', '9143', '165', '9524', '4558', '6187', '5153', '10199', '2038', '2836', '8862', '8701', '5927', '7818', '1319', '2939', '8704', '11688', '6894', '10519', '3481', '5151', '11452', '4444', '3081', '1129', '141', '4966', '3100', '11500', '2013', '851', '450', '7120', '3578', '4086', '634', '591', '1379', '1472', '1769', '2324', '8071', '6293', '9312', '7556', '7209', '311', '5071', '7192', '6210', '9968', '2744', '2129', '3758', '8192', '6096', '1099', '5127', '345', '6279', '724', '8311', '5364', '11836', '10644', '7980', '3617', '9358', '11310', '8214', '4812', '1242', '11769', '522', '11010', '874', '10763', '10792', '5557', '932', '7805', '2159', '3039', '9281', '5939', '9046', '1816', '8075', '7405', '10303', '263', '2915', '9532', '9381', '10104', '8232', '3028', '6171', '4029', '43', '10258', '11885', '1546', '11541', '7858', '1598', '8924', '8740', '6865', '8159', '492', '5013', '4902', '4969', '8952', '3562', '10371', '8265', '2171', '9584', '11600', '2160', '4171', '8217', '9699', '3207', '5103', '5677', '6597', '4167', '9897', '8403', '2438', '9941', '10433', '4278', '1396', '2112', '5494', '4924', '4562', '11530', '8161', '7697', '4720', '11683', '5386', '3592', '494', '7873', '4134', '9972', '430', '7598', '980', '2841', '5600', '2002', '3641', '4886', '7015', '8399', '297', '9495', '3409', '9257', '11039', '80', '2918', '11567', '4156', '2641', '8022', '2357', '540', '9011', '627', '1786', '9423', '8511', '10866', '5210', '6734', '4805', '5211', '3389', '8068', '8749', '4569', '3623', '10870', '2886', '589', '8294', '5215', '8034', '11967', '8571', '3522', '3353', '7131', '10843', '5960', '10465', '6405', '4335', '3638', '5756', '5309', '3113', '1018', '8741', '2049', '4403', '5015', '11032', '6180', '11805', '10619', '8677', '200', '1350', '985', '5369', '8440', '6258', '7772', '11170', '8166', '2371', '3882', '3556', '10207', '6239', '82', '4330', '10246', '469', '4263', '885', '1202', '3180', '2881', '69', '845', '3139', '9432', '11988', '1124', '8689', '4043', '6623', '11869', '10876', '9089', '7641', '10299', '7198', '383', '8134', '11806', '10230', '2570', '1525', '10352', '6633', '2037', '9113', '7688', '280', '3238', '4709', '497', '11479', '1280', '8835', '1245', '7409', '1690', '7707', '564', '2539', '5900', '8523', '869', '11306', '6270', '10840', '4243', '8435', '11702', '3956', '10656', '8415', '10674', '3762', '9436', '7590', '10277', '185', '2316', '4612', '618', '7682', '8639', '1954', '8857', '9616', '9914', '9679', '3717', '11100', '6100', '9345', '9645', '3066', '1717', '1145', '603', '10928', '11021', '6184', '4404', '5378', '63', '2025', '4143', '8538', '11423', '8602', '9942', '6832', '5307', '11957', '9450', '7173', '11622', '7283', '3705', '8856', '8393', '2762', '3032', '4090', '7600', '11036', '6786', '6782', '4218', '1716', '10238', '8270', '5445', '3273', '1759', '6688', '8220', '4065', '3739', '6393', '6590', '10833', '1196', '471', '11682', '5397', '4203', '50', '4745', '174', '1672', '5173', '725', '3774', '362', '5726', '10945', '4600', '4353', '2519', '7970', '5840', '11782', '6751', '10787', '9343', '601', '7644', '7074', '3642', '7323', '4266', '11730', '10322', '3193', '680', '9195', '10885', '5441', '6914', '2866', '10335', '632', '9936', '1123', '1128', '10524', '9728', '5777', '3612', '8811', '5329', '74', '6217', '6321', '754', '6462', '6342', '3957', '1007', '445', '10225', '3387', '8258', '8366', '4145', '3436', '8149', '3036', '628', '11093', '9540', '2103', '3426', '11796', '6640', '9157', '9286', '10459', '3014', '2604', '4784', '11198', '8137', '5681', '10316', '2435', '7927', '3235', '7897', '2798', '7301', '1235', '9771', '11263', '7401', '6238', '9717', '7071', '3671', '11223', '2300', '3294', '804', '203', '6982', '3843', '3137', '5607', '2974', '3222', '9402', '5385', '2074', '10406', '7019', '1013', '5850', '10339', '4105', '9823', '53', '8640', '6827', '9644', '11450', '4388', '9991', '3175', '10212', '11254', '3484', '7868', '8876', '42', '8789', '2727', '1879', '247', '3867', '10357', '5527', '9322', '5243', '6136', '11570', '2282', '9042', '7705', '2891', '11065', '7257', '10892', '2033', '7696', '4433', '8695', '10745', '1836', '2859', '520', '7411', '3311', '11961', '2658', '901', '1136', '8615', '8130', '8104', '10059', '6978', '1327', '10367', '8899', '10244', '8508', '502', '4974', '6866', '6971', '4685', '3752', '2042', '2626', '5682', '11627', '20', '9925', '1027', '5467', '3145', '10397', '10062', '907', '1665', '4519', '4832', '5351', '8278', '1093', '3644', '9510', '6284', '11533', '2622', '2447', '5100', '11377', '2289', '2193', '4778', '1368', '928', '9641', '6370', '11920', '11072', '7813', '3397', '7215', '4074', '4354', '11728', '4481', '2399', '4876', '3862', '1061', '4018', '3970', '9030', '2297', '10', '11801', '1009', '912', '2201', '9825', '1212', '3675', '5259', '8770', '1107', '3205', '1872', '3052', '7327', '8084', '4019', '7101', '2645', '6285', '2557', '7764', '5508', '3819', '8426', '9325', '1820', '11823', '2979', '7403', '6464', '4760', '6302', '5412', '2239', '1343', '2647', '9845', '8768', '10827', '11527', '8581', '6126', '7375', '245', '882', '4402', '3179', '10307', '5830', '7104', '472', '1250', '7538', '3244', '2731', '7511', '265', '10834', '10434', '3609', '1508', '1758', '2502', '4350', '5609', '11206', '10446', '4618', '10002', '11596', '4140', '8860', '679', '5240', '3080', '2337', '9965', '6016', '10251', '5861', '7979', '1581', '553', '2056', '10394', '3381', '1155', '460', '5705', '214', '5281', '5532', '4826', '906', '7618', '5180', '7248', '7097', '2113', '535', '4611', '1555', '7786', '3411', '6108', '5723', '5944', '8827', '1754', '5663', '6232', '8037', '3360', '1434', '8989', '4564', '2474', '8297', '5360', '4022', '10696', '9504', '9992', '2548', '2270', '10115', '2043', '8679', '6733', '8091', '2544', '8233', '7878', '4753', '6637', '5905', '7205', '11764', '8945', '322', '1274', '4824', '9164', '4255', '5067', '5514', '8235', '11357', '3405', '5551', '9039', '4854', '6198', '10102', '3338', '11212', '11573', '1186', '4793', '1339', '1885', '9582', '4007', '2009', '4560', '6956', '5069', '6810', '8239', '6870', '7443', '202', '462', '8864', '4619', '9083', '4965', '4421', '2945', '9461', '2723', '6965', '9670', '9841', '11083', '7789', '4915', '8371', '6835', '3185', '11895', '6482', '934', '6033', '10473', '4950', '3561', '1072', '1641', '11240', '3053', '10470', '2176', '5456', '3832', '1907', '9306', '1410', '10167', '4258', '2889', '11267', '3280', '1714', '1507', '6296', '4803', '5463', '3946', '8069', '7436', '3093', '2946', '168', '11421', '5483', '3531', '4571', '8721', '2390', '11349', '9863', '4184', '4609', '3332', '8595', '8779', '9481', '4494', '11015', '5365', '7096', '7624', '11773', '1944', '6998', '9999', '9269', '2286', '783', '6103', '4244', '3428', '3541', '3906', '8912', '10734', '8601', '9684', '8277', '10647', '6862', '11344', '4295', '7156', '3546', '6463', '135', '9615', '1592', '11593', '9695', '10737', '512', '5115', '7691', '3881', '5623', '9974', '2333', '3802', '1476', '11758', '9142', '1290', '3601', '10281', '8918', '10372', '10053', '5655', '5866', '717', '11379', '5741', '7670', '5507', '11671', '2969', '2425', '4616', '10678', '3339', '2400', '8944', '188', '6388', '10811', '6070', '7380', '1421', '2312', '2583', '9374', '10602', '4565', '11469', '10913', '6993', '11320', '5027', '7023', '6416', '728', '5579', '5426', '11588', '7398', '9833', '5620', '2750', '9901', '10022', '3593', '9850', '6653', '4884', '6771', '5560', '6909', '9958', '1173', '9172', '772', '1693', '1930', '6470', '6729', '11112', '10332', '639', '9112', '10006', '5638', '9591', '9295', '2', '7475', '33', '7587', '2931', '9694', '828', '11272', '6357', '9435', '6963', '9806', '11637', '8334', '8259', '11341', '6924', '7991', '6966', '10812', '11314', '1222', '6662', '9346', '5714', '7194', '10401', '2568', '8622', '11144', '9868', '1974', '5685', '3863', '1865', '10526', '5993', '4209', '7899', '9486', '3017', '10523', '11662', '10283', '8593', '3324', '10447', '8654', '2851', '4780', '8310', '518', '2948', '3347', '8884', '1624', '5362', '6114', '11273', '4106', '2952', '9742', '4017', '9542', '7210', '11270', '6061', '4067', '1663', '10867', '2490', '4428', '8708', '87', '8750', '6246', '1407', '11958', '8201', '7774', '10121', '2322', '2271', '7441', '370', '4216', '6152', '5547', '1561', '11327', '10211', '1726', '9751', '10507', '3232', '6438', '4961', '9535', '5718', '2278', '7820', '7683', '1811', '3390', '4186', '1320', '230', '11347', '9445', '11086', '2832', '4513', '8675', '1357', '4713', '8932', '4208', '6242', '4158', '10663', '6856', '4009', '10851', '298', '4182', '7798', '2857', '9477', '10437', '8463', '9464', '10118', '11130', '2495', '4625', '10349', '3695', '9870', '9120', '4943', '2566', '7111', '1214', '5722', '4742', '11559', '5704', '5950', '4396', '11415', '4282', '4371', '953', '2724', '10756', '4934', '9571', '8196', '60', '7493', '6757', '397', '1722', '6731', '2124', '9558', '7999', '8553', '8767', '7608', '10585', '9746', '3772', '10953', '6913', '1303', '7613', '3112', '8070', '7760', '3204', '5428', '11160', '3463', '401', '6349', '6638', '10497', '7384', '7572', '1845', '7351', '10265', '4870', '4576', '1345', '1119', '146', '8348', '2993', '9400', '2307', '10617', '7920', '10514', '9683', '10554', '9843', '7529', '2241', '5157', '8569', '8123', '8880', '4234', '11067', '9852', '8832', '2620', '3160', '2713', '4045', '310', '4296'}

In [10]:
len(adopted) / len(user)

0.18769126147568854

In [11]:
'20' in adopted

True

<font color='red'>

## The above fund around 18% of users is the "adopted user". 

## The first thought was to use the rolling window. However, as the timestamp is not a daily record, the specification for the rolling window does not fit the requirement.  

## Therefore, after sorting the data according to the logged time, a dual loop was executed to find the user who is qualified.  

## The complexity is n^2, which is not the best algorithm but does perform the job.

</font>