In [37]:
import pandas as pd
import json

users = pd.read_csv('relax_challenge/takehome_users.csv',  encoding='cp1252', engine='python')
users.head(20)

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0
5,6,2013-12-17 03:37:06,Cunha Eduardo,EduardoPereiraCunha@yahoo.com,GUEST_INVITE,1.387424e+09,0,0,197,11241.0
6,7,2012-12-16 13:24:32,Sewell Tyler,TylerSewell@jourrapide.com,SIGNUP,1.356010e+09,0,1,37,NaN
7,8,2013-07-31 05:34:02,Hamilton Danielle,DanielleHamilton@yahoo.com,PERSONAL_PROJECTS,NaN,1,1,74,NaN
8,9,2013-11-05 04:04:24,Amsel Paul,PaulAmsel@hotmail.com,PERSONAL_PROJECTS,NaN,0,0,302,NaN
9,10,2013-01-16 22:08:03,Santos Carla,CarlaFerreiraSantos@gustr.com,ORG_INVITE,1.401833e+09,1,1,318,4143.0
10,11,2013-12-26 03:55:54,Paulsen Malthe,MaltheAPaulsen@gustr.com,SIGNUP,1.388117e+09,0,0,69,NaN
11,12,2014-04-17 23:48:38,Mathiesen Lærke,LaerkeLMathiesen@cuvox.de,ORG_INVITE,NaN,0,0,130,9270.0
12,13,2014-03-30 16:19:38,Fry Alexander,AlexanderDFry@cuvox.de,ORG_INVITE,1.396196e+09,0,0,254,11204.0
13,14,2012-10-11 16:14:33,Rivera Bret,BretKRivera@gmail.com,SIGNUP,1.350058e+09,0,0,0,NaN
14,15,2013-07-16 21:33:54,Theiss Ralf,RalfTheiss@hotmail.com,PERSONAL_PROJECTS,NaN,0,0,175,NaN
15,16,2013-02-11 10:09:50,Engel René,ReneEngel@hotmail.com,PERSONAL_PROJECTS,NaN,0,0,211,NaN
16,17,2014-04-09 14:39:38,Reynolds Anthony,AnthonyReynolds@jourrapide.com,GUEST_INVITE,1.397314e+09,1,0,175,1600.0
17,18,2013-08-24 00:26:46,Gregersen Celina,CelinaAGregersen@jourrapide.com,GUEST_INVITE,NaN,0,0,2,3153.0
18,19,2013-05-24 14:56:36,Collins Arlene,ArleneRCollins@gmail.com,SIGNUP,1.369926e+09,1,0,0,NaN
19,20,2014-03-06 11:46:38,Helms Mikayla,lqyvjilf@uhzdq.com,SIGNUP,1.401364e+09,0,0,58,NaN

In [10]:
users['invited_by_user_id'] = users['invited_by_user_id'].fillna(0).apply(int).apply(str).replace('0','')
users['object_id'] = users['object_id'].apply(str)
users['creation_time'] = pd.to_datetime(users['creation_time'])
users['creation_source'] = users['creation_source'].astype('category')
users['opted_in_to_mailing_list'] = users['opted_in_to_mailing_list'].astype('category')
users['enabled_for_marketing_drip'] = users['enabled_for_marketing_drip'].astype('category')
users['org_id'] = users['org_id'].astype('category')
users['last_session_creation_time'] = pd.to_datetime(users['last_session_creation_time'],unit='s') # unix timestamp

In [11]:
users.head()

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,2014-04-22 03:53:30,1,0,11,10803
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,2014-03-31 03:45:04,0,0,1,316
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,2013-03-19 23:14:52,0,0,94,1525
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,2013-05-22 08:09:28,0,0,1,5151
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,2013-01-22 10:14:20,0,0,193,5240

In [12]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 10 columns):
object_id                     12000 non-null object
creation_time                 12000 non-null datetime64[ns]
name                          12000 non-null object
email                         12000 non-null object
creation_source               12000 non-null category
last_session_creation_time    8823 non-null datetime64[ns]
opted_in_to_mailing_list      12000 non-null category
enabled_for_marketing_drip    12000 non-null category
org_id                        12000 non-null category
invited_by_user_id            12000 non-null object
dtypes: category(4), datetime64[ns](2), object(4)
memory usage: 644.8+ KB

<B>Defining an "adopted user" as a user who has logged into the product on three separate days in at least one seven-day period, identify which factors predict future user adoption.

We suggest spending 1-2 hours on this, but you're welcome to spend more or less. Please send us a brief writeup of your findings (the more concise, the better -- no more than one page), along with any summary tables, graphs, code, or queries that can help us understand your approach. Please note any factors you considered or investigation you did, even if they did not pan out. Feel free to identify any further research or data you think would be valuable.</B>

In [13]:
engagement = pd.read_csv('relax_challenge/takehome_user_engagement.csv',  encoding='cp1252', engine='python')
engagement['time_stamp'] = pd.to_datetime(engagement['time_stamp'])
engagement['user_id'] = engagement['user_id'].apply(str)
engagement['visited'] = engagement['visited'].apply(str)
engagement.head()

           time_stamp user_id visited
0 2014-04-22 03:53:30       1       1
1 2013-11-15 03:45:04       2       1
2 2013-11-29 03:45:04       2       1
3 2013-12-09 03:45:04       2       1
4 2013-12-25 03:45:04       2       1

In [14]:
engagement.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207917 entries, 0 to 207916
Data columns (total 3 columns):
time_stamp    207917 non-null datetime64[ns]
user_id       207917 non-null object
visited       207917 non-null object
dtypes: datetime64[ns](1), object(2)
memory usage: 4.8+ MB

In [59]:
sorted =engagement.sort_values(by=['visited','time_stamp','user_id'])

In [69]:
sorted.loc[(sorted.user_id == '20' ),]

             time_stamp user_id visited
310 2014-03-11 11:46:38      20       1
311 2014-03-12 11:46:38      20       1
312 2014-03-13 11:46:38      20       1
313 2014-05-07 11:46:38      20       1
314 2014-05-11 11:46:38      20       1
315 2014-05-28 11:46:38      20       1
316 2014-05-29 11:46:38      20       1

In [62]:
user = sorted['user_id'].unique()

In [63]:
len(user)

8823

In [104]:
print(sorted['visited'].max(), sorted['visited'].min())

1 1

In [145]:
#counter = 0
adopted = set()
for i in user:
    visited = sorted.loc[(sorted.user_id == i),]
    #print('user '+ i  + "; total visited " + str(len(visited)))
    for j in visited['time_stamp']:
        k = j + pd.DateOffset(days=7)
        period = visited.loc[(visited.time_stamp >= j) & (visited.time_stamp <= k),]
        #print('user ' + i + '; start '+str(j) + "  " + '; end ' + str(k) + "; visited " +str(len(period)))
        #if len(period) >= 3:
        #    print('   visited ' + str(len(period)))
        unique = len(period['time_stamp'].dt.date.unique())
        if unique != len(period):
            print('same day visit for user ' +i)
        if  unique >= 3:
            adopted.add(i)
            break
            #print('   adopted ' + str(unique))
        
    #counter +=1
    #if counter > 1000:
        #break

In [146]:
print(len(adopted))

1656

In [149]:
print(adopted)

{'5830', '9694', '2570', '10277', '4720', '11072', '953', '11642', '8884', '725', '10459', '8201', '9965', '11957', '912', '2300', '8741', '10757', '11169', '2322', '5329', '80', '135', '4402', '874', '10233', '7380', '4009', '11519', '9400', '4565', '4218', '3765', '4388', '9269', '9968', '214', '11559', '10121', '10006', '3601', '6148', '8945', '3556', '11083', '6126', '230', '6135', '4186', '4350', '10524', '1581', '33', '5432', '5685', '3956', '11541', '2502', '8070', '8191', '10507', '9046', '2969', '8048', '8104', '10827', '11596', '11662', '3145', '10352', '9281', '4446', '11964', '5704', '3238', '3612', '6279', '10355', '160', '1993', '9290', '1506', '9728', '6285', '8442', '469', '5057', '9390', '10630', '5915', '1944', '3819', '3758', '8679', '10222', '10876', '11895', '2282', '5200', '2103', '10299', '3717', '5351', '3204', '3039', '8239', '8789', '2074', '8255', '5571', '9679', '6463', '10840', '8553', '1786', '3739', '553', '7409', '2979', '9434', '5681', '5528', '1009', '9362', '4965', '450', '3567', '4562', '3025', '2241', '2771', '2744', '3113', '7205', '6103', '11469', '10523', '6152', '11093', '8750', '5101', '6388', '4560', '5723', '4832', '298', '7301', '3280', '4171', '2731', '1672', '572', '4935', '3463', '7004', '3036', '9724', '69', '9947', '1035', '4041', '7644', '9157', '907', '3081', '8235', '1716', '9727', '3436', '8334', '9374', '3671', '5828', '11682', '8760', '5151', '4494', '1663', '6759', '8159', '2371', '5157', '901', '3592', '3059', '4181', '8399', '462', '6870', '5682', '2201', '7882', '5866', '8654', '2539', '4713', '43', '8252', '4685', '5965', '10892', '6050', '906', '4854', '5666', '7023', '2253', '7624', '347', '1099', '4943', '6617', '8989', '7375', '9582', '5861', '3317', '8790', '7927', '4029', '9495', '4582', '2604', '10860', '4497', '1464', '11599', '5527', '6532', '5663', '3960', '11300', '7772', '50', '11240', '1421', '8770', '8955', '4869', '7153', '6281', '1885', '11061', '4924', '11924', '10746', '7019', '601', '1214', '6239', '11314', '5385', '6393', '8319', '7760', '10958', '7401', '4065', '4090', '3881', '10159', '3032', '8538', '7556', '4609', '7283', '4519', '10153', '10473', '4266', '9558', '5927', '8639', '4513', '321', '7192', '2915', '724', '9147', '8111', '4902', '6238', '9359', '10763', '589', '7899', '6242', '8033', '1709', '1411', '3080', '7015', '11065', '7848', '7114', '5726', '53', '4966', '4074', '2390', '2286', '6462', '8918', '8232', '6282', '11130', '772', '3882', '8695', '10834', '10870', '8932', '6258', '2583', '8031', '8311', '9868', '6096', '2945', '6827', '1822', '10851', '7654', '11357', '7951', '10465', '7107', '2316', '1930', '8221', '370', '1954', '8460', '3217', '3185', '1196', '3112', '4296', '4580', '2993', '9344', '362', '4467', '472', '4425', '8084', '1007', '6733', '6134', '547', '937', '6184', '4371', '3046', '2270', '9295', '2425', '2278', '7618', '4618', '1508', '1173', '3597', '8769', '5514', '1485', '11622', '7798', '5103', '1345', '10678', '1617', '728', '3561', '3428', '9257', '9751', '6342', '5892', '9142', '6170', '6662', '6266', '9436', '9863', '8952', '5900', '3757', '5557', '11975', '4969', '5977', '11578', '4354', '4353', '7682', '6064', '4421', '8581', '2073', '9303', '1145', '2271', '3240', '1013', '7131', '9584', '7511', '9031', '1479', '3066', '7257', '5301', '5369', '4234', '9845', '6786', '1361', '1592', '7399', '322', '7896', '9841', '5160', '4680', '3862', '3100', '6982', '9083', '4870', '6033', '5415', '6506', '7670', '7431', '1897', '3205', '4571', '6187', '2739', '11206', '9479', '9948', '6835', '1865', '11732', '6100', '6963', '8383', '8101', '11688', '1222', '168', '283', '6993', '4268', '10115', '1072', '7764', '7878', '10207', '5832', '1816', '2870', '6305', '6623', '471', '1150', '828', '5210', '9914', '7939', '9535', '6044', '4184', '943', '11198', '928', '1641', '9843', '7209', '10867', '4156', '8803', '10388', '3749', '1396', '8899', '11805', '4785', '8704', '5426', '11570', '6270', '1151', '11067', '11327', '2641', '2851', '7705', '7613', '10265', '10617', '10953', '7194', '4472', '1999', '4784', '3353', '11530', '5067', '5806', '3957', '2787', '11388', '11223', '3137', '11806', '9172', '5483', '3906', '209', '2', '1845', '1820', '3332', '11056', '2713', '9383', '197', '6851', '1410', '1825', '2568', '1155', '9164', '7720', '7097', '10430', '8156', '153', '3525', '11836', '1238', '5173', '10858', '3390', '1759', '2723', '8593', '3360', '1480', '9524', '520', '494', '10234', '2809', '3484', '6370', '4396', '8832', '1163', '8258', '9722', '6517', '7827', '7598', '418', '5847', '535', '74', '5362', '9699', '11320', '10363', '6609', '6504', '605', '7555', '3481', '5714', '3294', '1666', '10585', '6061', '10020', '81', '10316', '8493', '10372', '3411', '7971', '11421', '6470', '1694', '8924', '680', '10696', '10634', '4045', '10023', '9325', '2886', '3517', '4243', '1107', '1094', '7979', '2049', '10869', '63', '8426', '11024', '8134', '9991', '3017', '2042', '5378', '3843', '3970', '8149', '591', '4349', '7805', '7441', '10335', '9839', '10357', '6654', '146', '10602', '5552', '10303', '3762', '8466', '9833', '8220', '1681', '8448', '9343', '10734', '4031', '4007', '5412', '4403', '3644', '10644', '10394', '11702', '2324', '11349', '6349', '7897', '5445', '10102', '6246', '1740', '9825', '9963', '9786', '869', '9112', '4067', '2037', '4208', '4017', '280', '4558', '7096', '4216', '6731', '2333', '6894', '2544', '8034', '9464', '3067', '1318', '363', '9113', '10002', '7405', '5579', '8595', '1507', '9445', '397', '5307', '9402', '2974', '5645', '10062', '5918', '2836', '4223', '4444', '2111', '11015', '3226', '1821', '8912', '4625', '2762', '11406', '1119', '2239', '8622', '3018', '8869', '1811', '4812', '10332', '1018', '10371', '7384', '512', '9936', '6865', '9286', '6893', '4018', '5944', '4106', '4141', '4143', '9635', '8069', '7111', '4961', '1758', '297', '3852', '11100', '11377', '6312', '82', '1379', '3160', '8270', '8701', '11039', '3179', '1303', '1561', '4561', '10928', '8233', '5069', '2832', '11730', '11254', '7450', '6321', '9999', '851', '6217', '2918', '4140', '7572', '11762', '6232', '492', '5718', '3076', '9381', '6367', '483', '3426', '9925', '9510', '11869', '1879', '2569', '10470', '10626', '10913', '1722', '2171', '3598', '9601', '4835', '2881', '11796', '3546', '5071', '11913', '9559', '9889', '1598', '5428', '2289', '2548', '247', '10833', '2495', '3867', '4886', '11010', '3193', '11170', '11306', '5494', '8393', '9961', '5507', '10104', '2159', '603', '634', '6742', '9660', '9222', '6284', '3502', '10937', '3642', '7980', '10212', '11773', '1319', '8415', '4876', '8505', '10100', '11939', '5013', '10437', '4616', '10792', '6108', '5743', '1525', '4837', '8837', '509', '11958', '1481', '11379', '5243', '11415', '5722', '3772', '7529', '10167', '1233', '8063', '10412', '6590', '11341', '6180', '9486', '4203', '6171', '6688', '8602', '1235', '6971', '4404', '10753', '11527', '11344', '7905', '2727', '5725', '6771', '200', '2307', '5360', '2931', '8403', '8259', '2939', '6956', '10725', '275', '2078', '9901', '510', '1136', '3397', '2622', '8749', '4715', '4742', '11965', '9597', '8366', '6357', '10656', '7813', '6322', '9358', '10225', '3014', '165', '11604', '5211', '9771', '3139', '8957', '4481', '1339', '11036', '8408', '1783', '1693', '2948', '6895', '1576', '2438', '7696', '5240', '4433', '5705', '5609', '3863', '4954', '3269', '10349', '11267', '2080', '497', '3493', '3804', '8217', '3641', '5397', '4278', '4295', '9958', '9306', '6938', '10621', '11404', '7786', '10281', '3087', '3774', '10011', '2013', '3239', '11764', '345', '4709', '3071', '10961', '8523', '11272', '3028', '9346', '3194', '4564', '9481', '7074', '529', '5479', '8569', '7210', '9593', '10745', '9039', '7411', '11004', '8440', '3673', '133', '4217', '265', '3593', '11738', '3859', '934', '7323', '9992', '4428', '6427', '3560', '9747', '6782', '11263', '2615', '2112', '5950', '4760', '8071', '4105', '1624', '7104', '310', '9897', '9580', '8029', '8806', '10448', '8025', '10244', '10843', '3812', '9423', '2750', '6302', '5853', '1290', '3802', '2724', '10199', '11823', '9435', '11186', '1026', '8615', '2658', '7868', '479', '6627', '9145', '3232', '1665', '9942', '845', '6293', '174', '3324', '4730', '10580', '11593', '7839', '11533', '6862', '9754', '8310', '4269', '4255', '9540', '9695', '4258', '7173', '10367', '10059', '2610', '9042', '5655', '9670', '1671', '6966', '10514', '11537', '1212', '1974', '8068', '4589', '8381', '5756', '7156', '8677', '10679', '5721', '10611', '1476', '4805', '6856', '2519', '882', '11294', '4619', '2124', '4022', '11660', '11969', '10022', '8673', '10911', '263', '9615', '9461', '9195', '11487', '1055', '8856', '5063', '2176', '6416', '8169', '628', '4511', '11465', '8511', '10945', '9985', '5456', '8601', '8123', '1754', '3052', '6198', '20', '8811', '3370', '3244', '11310', '430', '1245', '2590', '7436', '4263', '11909', '4745', '1274', '6114', '8196', '7920', '4485', '8130', '1186', '6909', '2490', '5467', '1555', '7493', '4915', '1368', '9806', '8463', '10322', '932', '3077', '2312', '4093', '8214', '6633', '6729', '10647', '8571', '11112', '10674', '4167', '5970', '2474', '5960', '2857', '11032', '8721', '11160', '7989', '3638', '2297', '311', '10307', '1472', '10283', '8708', '7443', '2557', '7351', '4330', '10497', '11021', '10397', '506', '202', '3387', '7774', '7403', '5309', '669', '460', '2841', '10574', '6419', '9076', '10238', '9120', '8689', '11671', '10401', '11728', '9542', '8010', '1907', '8166', '10446', '10251', '11782', '42', '10177', '4780', '8192', '540', '2038', '5365', '2339', '4244', '9684', '4950', '2337', '5015', '4209', '7688', '9823', '11801', '6204', '5551', '7655', '8277', '9312', '2435', '5623', '3562', '10750', '8740', '3705', '1836', '8835', '3652', '4612', '4145', '3522', '2859', '9974', '8944', '8435', '1343', '172', '6070', '8348', '10812', '11452', '6653', '11637', '11479', '11988', '6913', '11270', '2357', '7697', '2887', '3832', '4934', '2566', '3389', '9852', '9623', '7691', '10', '2160', '9941', '2620', '10737', '8779', '5259', '7858', '885', '305', '7398', '5993', '2246', '9717', '10434', '9143', '4206', '632', '2672', '6638', '5508', '6296', '1327', '3915', '11428', '4335', '518', '245', '11212', '6236', '4921', '5620', '10639', '10230', '9571', '5939', '3026', '7120', '6981', '11600', '4489', '87', '2587', '6998', '8394', '3866', '5073', '8297', '8046', '11967', '10258', '985', '11885', '3222', '8022', '7071', '5441', '2011', '2895', '10866', '2009', '8857', '7590', '10791', '8280', '786', '9504', '11873', '10320', '2921', '7678', '7859', '185', '7198', '4839', '3311', '7999', '1726', '8862', '5777', '1242', '10787', '9089', '10554', '1156', '4826', '11920', '3063', '9432', '1250', '5180', '11758', '4793', '804', '1941', '7101', '1123', '478', '5547', '10447', '7873', '8075', '3180', '11959', '4844', '1128', '7029', '10339', '4134', '6914', '11627', '8827', '7386', '5100', '783', '8278', '8876', '8640', '6438', '8508', '5905', '5516', '3207', '9994', '5677', '10526', '10311', '9850', '754', '11573', '2681', '2618', '1730', '2056', '1124', '1320', '8860', '5840', '3378', '7172', '6637', '7362', '9450', '5153', '2889', '4043', '5463', '11588', '11591', '3405', '60', '4824', '3675', '8706', '1017', '7683', '4086', '6751', '2843', '7792', '3381', '10025', '5560', '8037', '141', '1202', '7215', '6405', '1027', '2129', '1546', '10582', '9591', '10663', '4052', '7327', '5607', '2361', '5364', '11857', '7991', '5600', '1781', '7587', '401', '7536', '10708', '10246', '5638', '10599', '2952', '6757', '1280', '639', '6924', '1714', '6401', '3093', '9011', '6886', '3752', '2025', '2626', '9746', '8864', '8712', '9532', '4803', '5215', '3623', '2033', '7707', '10118', '7820', '11769', '8294', '10785', '1129', '8880', '5850', '2400', '980', '3609', '10683', '3409', '3718', '3577', '351', '3273', '9616', '9742', '7475', '1770', '7518', '11902', '7818', '6866', '7970', '11450', '8507', '9644', '1039', '6205', '2199', '1106', '4317', '1407', '1093', '2571', '6464', '11961', '6992', '627', '8768', '5407', '1434', '3946', '3053', '8809', '7378', '10406', '7538', '3163', '5350', '1357', '7600', '7544', '11423', '2399', '6810', '10520', '502', '11500', '11412', '3339', '11347', '5532', '8091', '3451', '2043', '9470', '10756', '4974', '10053', '7926', '6597', '1061', '7242', '11841', '11144', '9641', '9345', '11273', '10885', '10211', '4611', '3574', '9079', '11195', '3338', '2193', '5297', '11086', '11003', '8371', '4778', '8137', '2447', '2481', '1717', '11176', '9322', '9683', '564', '2645', '2406', '6978', '2113', '6922', '7234', '4753', '4248', '522', '4182', '5127', '8675', '8161', '8265', '2866', '2290', '3531', '9477', '3125', '9645', '7641', '5586', '5225', '3347', '1690', '6734', '5027', '3175', '7789', '9060', '10832', '4384', '5115', '6988', '9013', '7248', '6832', '341', '4992', '9768', '11683', '5281', '2798', '10619', '3235', '5156', '8767', '5167', '1769', '3695', '9870', '6482', '717', '4019', '6965', '445', '1872', '1089', '4576', '9030', '4158', '1350', '3617', '2946', '6741', '679', '6136', '4884', '3541', '4282', '8401', '3578', '2636', '10811', '9652', '5386', '6640', '7449', '618', '4569', '4600', '8725', '11567', '203', '188', '9972', '2647', '10519', '7608', '9691', '2891', '10433', '8243', '2002', '6210', '6016', '3824', '383', '5741'}

In [148]:
len(adopted) / len(user)

0.18769126147568854

<font color='red'>

## The above fund around 18% of users is the "adopted user". 

## The first thought was to use the rolling window. However, as the timestamp is not a daily record, the specification for the rolling window does not fit the requirement.  

## Therefore, after sorting the data according to the logged time, a dual loop was executed to find the user who is qualified.  

## The complexity is n^2, which is not the best algorithm but does perform the job.

</font>