# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

In [1]:
import pandas as pd

## imports for Python, Pandas

In [2]:
import json
from pandas.io.json import json_normalize

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [3]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [4]:
# use normalization to create tables from nested element
json_normalize(data, 'counties')

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [5]:
# further populate tables created from nested element
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich

In [6]:
# testing to see if I understand how this works
# further populate tables created from nested element
json_normalize(data, record_path='counties',\
              meta=['state', 'shortname',['info','governor']], meta_prefix="meta_", record_prefix="record_")

  record_name  record_population meta_state meta_shortname meta_info.governor
0        Dade              12345    Florida             FL         Rick Scott
1     Broward              40000    Florida             FL         Rick Scott
2  Palm Beach              60000    Florida             FL         Rick Scott
3      Summit               1234       Ohio             OH        John Kasich
4    Cuyahoga               1337       Ohio             OH        John Kasich

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank 
+ data source: http://jsonstudio.com/resources/

In [7]:
# load json as string
json.load((open('data/world_bank_projects_less.json')))

[{'_id': {'$oid': '52b213b38594d8a2be17c780'},
  'approvalfy': 1999,
  'board_approval_month': 'November',
  'boardapprovaldate': '2013-11-12T00:00:00Z',
  'borrower': 'FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA',
  'closingdate': '2018-07-07T00:00:00Z',
  'country_namecode': 'Federal Democratic Republic of Ethiopia!$!ET',
  'countrycode': 'ET',
  'countryname': 'Federal Democratic Republic of Ethiopia',
  'countryshortname': 'Ethiopia',
  'docty': 'Project Information Document,Indigenous Peoples Plan,Project Information Document',
  'envassesmentcategorycode': 'C',
  'grantamt': 0,
  'ibrdcommamt': 0,
  'id': 'P129828',
  'idacommamt': 130000000,
  'impagency': 'MINISTRY OF EDUCATION',
  'lendinginstr': 'Investment Project Financing',
  'lendinginstrtype': 'IN',
  'lendprojectcost': 550000000,
  'majorsector_percent': [{'Name': 'Education', 'Percent': 46},
   {'Name': 'Education', 'Percent': 26},
   {'Name': 'Public Administration, Law, and Justice', 'Percent': 16},
   {'Name': 'Education', 'Percent': 12}],
  'mjsector_namecode': [{'name': 'Education', 'code': 'EX'},
   {'name': 'Education', 'code': 'EX'},
   {'name': 'Public Administration, Law, and Justice', 'code': 'BX'},
   {'name': 'Education', 'code': 'EX'}],
  'mjtheme': ['Human development'],
  'mjtheme_namecode': [{'name': 'Human development', 'code': '8'},
   {'name': '', 'code': '11'}],
  'mjthemecode': '8,11',
  'prodline': 'PE',
  'prodlinetext': 'IBRD/IDA',
  'productlinetype': 'L',
  'project_abstract': {'cdata': 'The development objective of the Second Phase of General Education Quality Improvement Project for Ethiopia is to improve learning conditions in primary and secondary schools and strengthen institutions at different levels of educational administration. The project has six components. The first component is curriculum, textbooks, assessment, examinations, and inspection. This component will support improvement of learning conditions in grades KG-12 by providing increased access to teaching and learning materials and through improvements to the curriculum by assessing the strengths and weaknesses of the current curriculum. This component has following four sub-components: (i) curriculum reform and implementation; (ii) teaching and learning materials; (iii) assessment and examinations; and (iv) inspection. The second component is teacher development program (TDP). This component will support improvements in learning conditions in both primary and secondary schools by advancing the quality of teaching in general education through: (a) enhancing the training of pre-service teachers in teacher education institutions; and (b) improving the quality of in-service teacher training. This component has following three sub-components: (i) pre-service teacher training; (ii) in-service teacher training; and (iii) licensing and relicensing of teachers and school leaders. The third component is school improvement plan. This component will support the strengthening of school planning in order to improve learning outcomes, and to partly fund the school improvement plans through school grants. It has following two sub-components: (i) school improvement plan; and (ii) school grants. The fourth component is management and capacity building, including education management information systems (EMIS). This component will support management and capacity building aspect of the project. This component has following three sub-components: (i) capacity building for education planning and management; (ii) capacity building for school planning and management; and (iii) EMIS. The fifth component is improving the quality of learning and teaching in secondary schools and universities through the use of information and communications technology (ICT). It has following five sub-components: (i) national policy and institution for ICT in general education; (ii) national ICT infrastructure improvement plan for general education; (iii) develop an integrated monitoring, evaluation, and learning system specifically for the ICT component; (iv) teacher professional development in the use of ICT; and (v) provision of limited number of e-Braille display readers with the possibility to scale up to all secondary education schools based on the successful implementation and usage of the readers. The sixth component is program coordination, monitoring and evaluation, and communication. It will support institutional strengthening by developing capacities in all aspects of program coordination, monitoring and evaluation; a new sub-component on communications will support information sharing for better management and accountability. It has following three sub-components: (i) program coordination; (ii) monitoring and evaluation (M and E); and (iii) communication.'},
  'project_name': 'Ethiopia General Education Quality Improvement Project II',
  'projectdocs': [{'DocTypeDesc': 'Project Information Document (PID),  Vol.',
    'DocType': 'PID',
    'EntityID': '090224b081e545fb_1_0',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=090224b081e545fb_1_0',
    'DocDate': '28-AUG-2013'},
   {'DocTypeDesc': 'Indigenous Peoples Plan (IP),  Vol.1 of 1',
    'DocType': 'IP',
    'EntityID': '000442464_20130920111729',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000442464_20130920111729',
    'DocDate': '01-JUL-2013'},
   {'DocTypeDesc': 'Project Information Document (PID),  Vol.',
    'DocType': 'PID',
    'EntityID': '090224b0817b19e2_1_0',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=090224b0817b19e2_1_0',
    'DocDate': '22-NOV-2012'}],
  'projectfinancialtype': 'IDA',
  'projectstatusdisplay': 'Active',
  'regionname': 'Africa',
  'sector': [{'Name': 'Primary education'},
   {'Name': 'Secondary education'},
   {'Name': 'Public administration- Other social services'},
   {'Name': 'Tertiary education'}],
  'sector1': {'Name': 'Primary education', 'Percent': 46},
  'sector2': {'Name': 'Secondary education', 'Percent': 26},
  'sector3': {'Name': 'Public administration- Other social services',
   'Percent': 16},
  'sector4': {'Name': 'Tertiary education', 'Percent': 12},
  'sector_namecode': [{'name': 'Primary education', 'code': 'EP'},
   {'name': 'Secondary education', 'code': 'ES'},
   {'name': 'Public administration- Other social services', 'code': 'BS'},
   {'name': 'Tertiary education', 'code': 'ET'}],
  'sectorcode': 'ET,BS,ES,EP',
  'source': 'IBRD',
  'status': 'Active',
  'supplementprojectflg': 'N',
  'theme1': {'Name': 'Education for all', 'Percent': 100},
  'theme_namecode': [{'name': 'Education for all', 'code': '65'}],
  'themecode': '65',
  'totalamt': 130000000,
  'totalcommamt': 130000000,
  'url': 'http://www.worldbank.org/projects/P129828/ethiopia-general-education-quality-improvement-project-ii?lang=en'},
 {'_id': {'$oid': '52b213b38594d8a2be17c781'},
  'approvalfy': 2015,
  'board_approval_month': 'November',
  'boardapprovaldate': '2013-11-04T00:00:00Z',
  'borrower': 'GOVERNMENT OF TUNISIA',
  'country_namecode': 'Republic of Tunisia!$!TN',
  'countrycode': 'TN',
  'countryname': 'Republic of Tunisia',
  'countryshortname': 'Tunisia',
  'docty': 'Project Information Document,Integrated Safeguards Data Sheet,Integrated Safeguards Data Sheet,Project Information Document,Integrated Safeguards Data Sheet,Project Information Document',
  'envassesmentcategorycode': 'C',
  'grantamt': 4700000,
  'ibrdcommamt': 0,
  'id': 'P144674',
  'idacommamt': 0,
  'impagency': 'MINISTRY OF FINANCE',
  'lendinginstr': 'Specific Investment Loan',
  'lendinginstrtype': 'IN',
  'lendprojectcost': 5700000,
  'majorsector_percent': [{'Name': 'Public Administration, Law, and Justice',
    'Percent': 70},
   {'Name': 'Public Administration, Law, and Justice', 'Percent': 30}],
  'mjsector_namecode': [{'name': 'Public Administration, Law, and Justice',
    'code': 'BX'},
   {'name': 'Public Administration, Law, and Justice', 'code': 'BX'}],
  'mjtheme': ['Economic management', 'Social protection and risk management'],
  'mjtheme_namecode': [{'name': 'Economic management', 'code': '1'},
   {'name': 'Social protection and risk management', 'code': '6'}],
  'mjthemecode': '1,6',
  'prodline': 'RE',
  'prodlinetext': 'Recipient Executed Activities',
  'productlinetype': 'L',
  'project_name': 'TN: DTF Social Protection Reforms Support',
  'projectdocs': [{'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1',
    'DocType': 'PID',
    'EntityID': '000333037_20131024115616',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000333037_20131024115616',
    'DocDate': '29-MAR-2013'},
   {'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    'DocType': 'ISDS',
    'EntityID': '000356161_20131024151611',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20131024151611',
    'DocDate': '29-MAR-2013'},
   {'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    'DocType': 'ISDS',
    'EntityID': '000442464_20131031112136',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000442464_20131031112136',
    'DocDate': '29-MAR-2013'},
   {'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1',
    'DocType': 'PID',
    'EntityID': '000333037_20131031105716',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000333037_20131031105716',
    'DocDate': '29-MAR-2013'},
   {'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    'DocType': 'ISDS',
    'EntityID': '000356161_20130305113209',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20130305113209',
    'DocDate': '16-JAN-2013'},
   {'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1',
    'DocType': 'PID',
    'EntityID': '000356161_20130305113716',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20130305113716',
    'DocDate': '16-JAN-2013'}],
  'projectfinancialtype': 'OTHER',
  'projectstatusdisplay': 'Active',
  'regionname': 'Middle East and North Africa',
  'sector': [{'Name': 'Public administration- Other social services'},
   {'Name': 'General public administration sector'}],
  'sector1': {'Name': 'Public administration- Other social services',
   'Percent': 70},
  'sector2': {'Name': 'General public administration sector', 'Percent': 30},
  'sector_namecode': [{'name': 'Public administration- Other social services',
    'code': 'BS'},
   {'name': 'General public administration sector', 'code': 'BZ'}],
  'sectorcode': 'BZ,BS',
  'source': 'IBRD',
  'status': 'Active',
  'supplementprojectflg': 'N',
  'theme1': {'Name': 'Other economic management', 'Percent': 30},
  'theme_namecode': [{'name': 'Other economic management', 'code': '24'},
   {'name': 'Social safety nets', 'code': '54'}],
  'themecode': '54,24',
  'totalamt': 0,
  'totalcommamt': 4700000,
  'url': 'http://www.worldbank.org/projects/P144674?lang=en'}]

In [8]:
# load as Pandas dataframe
sample_json_df = pd.read_json('data/world_bank_projects_less.json')
sample_json_df

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Name': 'Education for all', 'Percent': 100}","[{'name': 'Education for all', 'code': '65'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Name': 'Other economic management', 'Percent...","[{'name': 'Other economic management', 'code':...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [9]:
# Inspecting the json object
import numpy as np
import regex

json_str = json.load(open('data/world_bank_projects.json'))
df = json_normalize(json_str, 
                   record_path=['mjtheme_namecode'],
                    meta=['id','countryshortname'],
                   record_prefix='theme_')

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1499 entries, 0 to 1498
Data columns (total 4 columns):
theme_code          1499 non-null object
theme_name          1499 non-null object
id                  1499 non-null object
countryshortname    1499 non-null object
dtypes: object(4)
memory usage: 46.9+ KB
None

In [10]:
# let's clean up the data
# replace empty theme names with NaN
df = df.replace(r'^\s*$', np.nan, regex=True)
# sort by code and name so we can ffill NaN later
df = df.sort_values(['theme_code','theme_name'])
print("\nInfo after cleaning empty columns")
print(df.info())


# how many themes of each code do we have?
print('\nTheme Code Summary')
# this is a Series we will use later to verify ffill later
theme_code_summary = df.groupby('theme_code').size()
print(theme_code_summary)

# let's look at how many of each theme without theme name
print('\nEmpty Theme Name Summary')
print(df[df.theme_name.isnull()].groupby('theme_code').size())

Info after cleaning empty columns
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1499 entries, 2 to 471
Data columns (total 4 columns):
theme_code          1499 non-null object
theme_name          1377 non-null object
id                  1499 non-null object
countryshortname    1499 non-null object
dtypes: object(4)
memory usage: 58.6+ KB
None

Theme Code Summary
theme_code
1      38
10    216
11    250
2     199
3      15
4     146
5      77
6     168
7     130
8     210
9      50
dtype: int64

Empty Theme Name Summary
theme_code
1      5
10    14
11    27
2     15
3      3
4     16
5      5
6     10
7     11
8     13
9      3
dtype: int64

In [11]:
import regex
# forward fill empty theme names
df_filled = df.fillna(method='ffill')

# sanity check results against theme_code_summary - visual inspection
df_filled['theme_combo'] = df_filled.theme_code + df_filled.theme_name
print(df_filled.groupby('theme_name').size())
print(len(df_filled.groupby('theme_name').size()))
print("")
df_filled_combo = df_filled.groupby('theme_combo').size()
print(df_filled_combo)
print(len(df_filled_combo))


# programmatically test to see if number for each themes are still the same now that
# we have ffilled the theme names
# we do this by comparing with theme_code_summary numbers
print("\nCompare theme codes with ffilled theme names")
combo_indexes = df_filled_combo.index
pattern = r'\d+'
prog = regex.compile(pattern)
for idx in combo_indexes:
    m = prog.match(idx)
    summary_idx = m.group()
    print (f'comparing {df_filled_combo[idx]} with {theme_code_summary[summary_idx]}')
    assert df_filled_combo[idx] == theme_code_summary[summary_idx]

theme_name
Economic management                              38
Environment and natural resources management    250
Financial and private sector development        146
Human development                               210
Public sector governance                        199
Rule of law                                      15
Rural development                               216
Social dev/gender/inclusion                     130
Social protection and risk management           168
Trade and integration                            77
Urban development                                50
dtype: int64
11

theme_combo
10Rural development                               216
11Environment and natural resources management    250
1Economic management                               38
2Public sector governance                         199
3Rule of law                                       15
4Financial and private sector development         146
5Trade and integration                             77
6Social protection and risk management            168
7Social dev/gender/inclusion                      130
8Human development                                210
9Urban development                                 50
dtype: int64
11

Compare theme codes with ffilled theme names
comparing 216 with 216
comparing 250 with 250
comparing 38 with 38
comparing 199 with 199
comparing 15 with 15
comparing 146 with 146
comparing 77 with 77
comparing 168 with 168
comparing 130 with 130
comparing 210 with 210
comparing 50 with 50

In [12]:
# find 10 countries with most projects
# dedupe by project ID's
df_filled.drop_duplicates(subset=['id']).\
    groupby(['countryshortname']).size().sort_values(ascending=False).\
    iloc[:10]

countryshortname
Indonesia             19
China                 19
Vietnam               17
India                 16
Yemen, Republic of    13
Nepal                 12
Bangladesh            12
Morocco               12
Mozambique            11
Africa                11
dtype: int64

In [13]:
# find top 10 major project themes 'mjtheme_namecode'
df_filled.groupby(['theme_code','theme_name']).size().\
    sort_values(ascending=False)

theme_code  theme_name
11          Environment and natural resources management    250
10          Rural development                               216
8           Human development                               210
2           Public sector governance                        199
6           Social protection and risk management           168
4           Financial and private sector development        146
7           Social dev/gender/inclusion                     130
5           Trade and integration                            77
9           Urban development                                50
1           Economic management                              38
3           Rule of law                                      15
dtype: int64

In [14]:
# In 2. above you will notice that some entries have only the code and the name is missing. 
# Create a dataframe with the missing names filled in.

# see above

In [37]:
# playing with json_normalize to see if I can load the entire DF with all columns
import pandas as pd
import numpy as np
import json
from pandas.io.json import json_normalize


json_str = json.load(open('data/world_bank_projects_less.json'))
print(type(json_str))
df_all = json_normalize(json_str)
print(df_all.info())
df_all.head()

<class 'list'>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 55 columns):
_id.$oid                    2 non-null object
approvalfy                  2 non-null int64
board_approval_month        2 non-null object
boardapprovaldate           2 non-null object
borrower                    2 non-null object
closingdate                 1 non-null object
country_namecode            2 non-null object
countrycode                 2 non-null object
countryname                 2 non-null object
countryshortname            2 non-null object
docty                       2 non-null object
envassesmentcategorycode    2 non-null object
grantamt                    2 non-null int64
ibrdcommamt                 2 non-null int64
id                          2 non-null object
idacommamt                  2 non-null int64
impagency                   2 non-null object
lendinginstr                2 non-null object
lendinginstrtype            2 non-null object
lendprojectcost             2 non-null int64
majorsector_percent         2 non-null object
mjsector_namecode           2 non-null object
mjtheme                     2 non-null object
mjtheme_namecode            2 non-null object
mjthemecode                 2 non-null object
prodline                    2 non-null object
prodlinetext                2 non-null object
productlinetype             2 non-null object
project_abstract.cdata      1 non-null object
project_name                2 non-null object
projectdocs                 2 non-null object
projectfinancialtype        2 non-null object
projectstatusdisplay        2 non-null object
regionname                  2 non-null object
sector                      2 non-null object
sector1.Name                2 non-null object
sector1.Percent             2 non-null int64
sector2.Name                2 non-null object
sector2.Percent             2 non-null int64
sector3.Name                1 non-null object
sector3.Percent             1 non-null float64
sector4.Name                1 non-null object
sector4.Percent             1 non-null float64
sector_namecode             2 non-null object
sectorcode                  2 non-null object
source                      2 non-null object
status                      2 non-null object
supplementprojectflg        2 non-null object
theme1.Name                 2 non-null object
theme1.Percent              2 non-null int64
theme_namecode              2 non-null object
themecode                   2 non-null object
totalamt                    2 non-null int64
totalcommamt                2 non-null int64
url                         2 non-null object
dtypes: float64(2), int64(10), object(43)
memory usage: 960.0+ bytes
None

,_id.$oid,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,source,status,supplementprojectflg,theme1.Name,theme1.Percent,theme_namecode,themecode,totalamt,totalcommamt,url
0,52b213b38594d8a2be17c780,1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,IBRD,Active,N,Education for all,100,"[{'name': 'Education for all', 'code': '65'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,52b213b38594d8a2be17c781,2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,IBRD,Active,N,Other economic management,30,"[{'name': 'Other economic management', 'code':...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en

In [50]:
# trying out solution here
# https://stackoverflow.com/questions/39899005/how-to-flatten-a-pandas-dataframe-with-some-columns-as-json/39906235#39906235
#
# List of dictionaries:
# 'majorsector_percent'
# 'mjsector_namecode'
# 'mjtheme_namecode'
# 'projectdocs'
# 'sector'
# 'theme_namecode'
#
# Lists:
# 'mjtheme'

# this cell is work in progress 


import ast

def only_dict(d):
    '''
    Convert json string representation of dictionary to a python dict
    '''
    return ast.literal_eval(d)

def list_of_dicts(ld):
    '''
    Create a mapping of the tuples formed after 
    converting json strings of list to a python list   
    '''
#     return dict([(list(d.values())[1], list(d.values())[0]) for d in ast.literal_eval(ld)])
#     return dict([(list(d.values())[1], list(d.values())[0]) for d in ld])
    for d in ld:
        print(type(d))
#         print(dict[(d,keys(), d.values())])

l = df_all.majorsector_percent[0]
print(type(l))
print(l)
# print(type(ast.literal_eval("[ {'Name': 'Education', 'Percent': 46}, {'Name': 'Education', 'Percent': 26}, {'Name': 'Public Administration, Law, and Justice', 'Percent': 16}, {'Name': 'Education', 'Percent': 12} ]")))
list_of_dicts(l)

# majorsector_percent = json_normalize(df_all.majorsector_percent.apply(list_of_dicts).to_list()).add_prefix('majorsector_percent.')
# print(majorsector_percent.info())
# majorsector_percent.head(2)

<class 'list'>
[{'Name': 'Education', 'Percent': 46}, {'Name': 'Education', 'Percent': 26}, {'Name': 'Public Administration, Law, and Justice', 'Percent': 16}, {'Name': 'Education', 'Percent': 12}]
<class 'dict'>
<class 'dict'>
<class 'dict'>
<class 'dict'>